<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:0px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:0px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-pl96{font-weight:bold;font-size:18px;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-o4ll{font-weight:bold;background-color:#ffffff;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.rot90 {
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
rotation: 90deg;
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
</style>
<table class="tg">
<tr>
  <th class="tg-o4ll" colspan="2">x 1        </th>
  <th class="tg-amwm" colspan="3">Bunaby / BB 88</th>
  <th class="tg-amwm">ST</th>
  <th class="tg-yw4l" rowspan="10"><%= wicked_pdf_image_tag(@barcode, :alt => "Shipit") %></th>
</tr>
<tr>
  <td class="tg-pl96" colspan="2">NOMBRE</td>
  <td class="tg-yw4l" colspan="3"></td>
  <td class="tg-yw4l"></td>
</tr>
<tr>
  <td class="tg-yw4l" colspan="2">CALLE</td>
  <td class="tg-yw4l" colspan="3"></td>
  <td class="tg-yw4l"></td>
</tr>
<tr>
  <td class="tg-yw4l" colspan="2">NUMERO</td>
  <td class="tg-yw4l" colspan="3"></td>
  <td class="tg-yw4l"></td>
</tr>
<tr>
  <td class="tg-yw4l" colspan="2">DEPTO/PISO</td>
  <td class="tg-yw4l" colspan="3"></td>
  <td class="tg-yw4l"></td>
</tr>
<tr>
  <td class="tg-yw4l" colspan="2">COMUNA</td>
  <td class="tg-yw4l" colspan="3"></td>
  <td class="tg-baqh">L</td>
</tr>
<tr>
  <td class="tg-yw4l" colspan="2">TELEFONO</td>
  <td class="tg-yw4l" colspan="3"></td>
  <td class="tg-yw4l">00-00-0000</td>
</tr>
<tr>
  <td class="tg-yw4l" colspan="3" rowspan="3"><%= wicked_pdf_image_tag("logo.png", :alt => "Shipit") %></td>
  <td class="tg-yw4l" colspan="2">D: Asturias 103, Casa D.</td>
  <td class="tg-amwm" rowspan="3">pp</td>
</tr>
<tr>
  <td class="tg-yw4l" colspan="2">C: Las Condes</td>
</tr>
<tr>
  <td class="tg-yw4l" colspan="2">F: (562) 32243863</td>
</tr>
</table>
