<table>
  <thead>
    <tr>
      <th>
        x1
      </th>
      <th>
        buenabi
      </th>
      <th>
        bb 87
      </th>
      <th>
        ST
      </th>
      <th>
        CODE
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        NOMBRE:
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        CALLE:
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        DEPTO/PISO:
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        COMUNA:
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        TELEFONO:
      </td>
      <td>
      </td>
      <td>
        00-00-0000
      </td>
    </tr>
  </tbody>
</table>
